@page
@using ProjectPRN_FAP.Bussiness.DTO
@model ProjectPRN_FAP.Pages.Admin.UserPage.TeacherModel
@{
    Layout = "_LayoutAdmin";
}

<!-- Button trigger modal create Subject -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#createTeacherModel">
    Create Teacher
</button>

<!-- Modal Create Subject -->
<div class="modal fade" id="createTeacherModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="createTeacher">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Teacher</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Email</p>
                    <input type="text" name="teacherEmail" class="w-100" />
                    <br />

                    <p>Student Code</p>
                    <input type="text" name="teacherCode" class="w-100" />
                    <br />

                    <p>Name</p>
                    <input type="text" name="teacherName" class="w-100" />
                    <br />

                    <p>Gender</p>
                    <select name="teacherGender">
                        <option value="true">Nam</option>
                        <option value="false">Nữ</option>
                    </select>
                    <br />

                    <p>Phone</p>
                    <input type="tel" name="teacherPhone" class="w-100" />
                    <br />

                    <p>Password</p>
                    <input type="text" name="teacherPassword" class="w-100" />
                    <br />

                    <p>DateOfBirth</p>
                    <input type="date" name="teacherDob" class="w-100" />
                    <br />

                    <p>Campus</p>
                    <input type="text" name="teacherCampus" class="w-100" />
                    <br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <table id="tablePagnation" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Teacher Code</th>
                <th>Email</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Password</th>
                <th>DateOfBirth</th>
                <th>Campus</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TeacherDTO sDTO in Model.teacherDTOs)
            {
                <tr>
                    <td>
                        <p class="fw-normal mb-1">@sDTO.TeacherCode</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.User.Email</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.User.Name</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">
                            @(sDTO.User.Gender == true ? "Nam" : "Nữ")
                        </p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.User.Phone</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.User.Password</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.User.DateOfBirth.ToString("dd/MM/yyyy")</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.User.Campus</p>
                    </td>


                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopupDelete('@sDTO.UserId', '@sDTO.TeacherId')">
                            Delete
                        </button>
                    </td>

                    <td>
                        @*openPopup(studentEmail,studentCode,studentName,studentGender,studentPhone, studentPassword, studentDob, studentCampus, studentId, userId)*@
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopup('@sDTO.User.Email','@sDTO.TeacherCode','@sDTO.User.Name','@sDTO.User.Gender','@sDTO.User.Phone','@sDTO.User.Password','@sDTO.User.DateOfBirth','@sDTO.User.Campus','@sDTO.TeacherId','@sDTO.UserId')">
                            Update
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal Update Subject -->
<div class="modal fade" id="updateTeacherModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Update" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Semester</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('updateTeacherModal')"></button>
                </div>

                <div class="modal-body">
                    <p>Email</p>
                    <input id="teacherUpdateEmail" disabled type="text" name="teachertEmail" class="w-100" />
                    <br />

                    <p>Student Code</p>
                    <input id="teacherUpdateCode" type="text" name="teacherCode" class="w-100" />
                    <br />

                    <p>Name</p>
                    <input id="teacherUpdateName" type="text" name="teacherName" class="w-100" />
                    <br />

                    <p>Gender</p>
                    <select id="teacherUpdateGender" name="teacherGender">
                        <option value="true">Nam</option>
                        <option value="false">Nữ</option>
                    </select>
                    <br />

                    <p>Phone</p>
                    <input id="teacherUpdatePhone" type="tel" name="teacherPhone" class="w-100" />
                    <br />

                    <p>Password</p>
                    <input id="teacherUpdatePassword" type="text" name="teacherPassword" class="w-100" />
                    <br />

                    <p>DateOfBirth</p>
                    <input id="teacherUpdateDob" type="date" name="teacherDob" class="w-100" />
                    <br />

                    <p>Campus</p>
                    <input id="teacherUpdateCampus" type="text" name="teacherCampus" class="w-100" />
                    <br />
                    <input id="teacherUpdateUserId" type="hidden" name="userId" class="w-100" />
                    <input id="teacherUpdateTeacherId" type="hidden" name="teacherId" class="w-100" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('updateTeacherModal')">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal Delete Subject -->
<div class="modal fade" id="deleteSubjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Delete" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Semester</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('deleteSubjectModal')"></button>
                </div>
                <div class="modal-body">
                    <input id="deleteSubjectid" type="hidden" name="subjectId" />
                    <p> Do you want delete this Subject ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('deleteSubjectModal')">Cancle</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    $('#tablePagnation').DataTable({
        "pagingType": "full_numbers" // "simple" option for 'Previous' and 'Next' buttons only
    });
    function openPopup(teacherEmail, teacherCode, teacherName, teacherGender, teacherPhone, teacherPassword, teacherDob, teacherCampus, teacherId, userId) {
        var inputMail = document.getElementById("teacherUpdateEmail");
        inputMail.value = teacherEmail;


        var inputStudentCode = document.getElementById("teacherUpdateCode");
        inputStudentCode.value = teacherCode;

        var inputName = document.getElementById("teacherUpdateName");
        inputName.value = teacherName;


        var inputGender = document.getElementById("teacherUpdateGender");
        for (var i = 0; i < inputGender.options.length; i++) {
            if (inputGender.options[i].value.toUpperCase() == teacherGender.toUpperCase()) {

                inputGender.options[i].selected = true;
                break;
            }
        }

        var inputPhone = document.getElementById("teacherUpdatePhone");
        inputPhone.value = teacherPhone;

        var inputPassword = document.getElementById("teacherUpdatePassword");
        inputPassword.value = teacherPassword;

        var inputDob = document.getElementById("teacherUpdateDob");
        inputDob.value = formatDate(new Date(teacherDob));


        var inputCampus = document.getElementById("teacherUpdateCampus");
        inputCampus.value = teacherCampus;

        var inputuserId = document.getElementById("teacherUpdateUserId");
        inputuserId.value = userId;

        var inputstudentId = document.getElementById("teacherUpdateTeacherId");
        inputstudentId.value = teacherId;

        $('#updateTeacherModal').modal('show');
    }

    function openPopupDelete(subjectId) {
        var inputId = document.getElementById("deleteSubjectid");
        inputId.value = subjectId;
        $('#deleteSubjectModal').modal('show');
    }


</script>
