@page
@model ProjectPRN_FAP.Pages.Admin.SemesterModel
@using ProjectPRN_FAP.Bussiness.DTO
@{
    Layout = "_LayoutAdmin";
}

<!-- Button trigger modal create Semester -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
    Create Semester
</button>

<!-- Modal Create Semester -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page="/Admin/SemesterPage/Semester" method="post">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Semester</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <p>Semester Name</p>
                    <input type="text" name="semesterName"  class="w-100"/>
                    <br/>
                    <p>Start Date</p>
                    <input type="date" name="semesterStartDate" class="w-100" />
                    <br />
                    <p>End Date</p>
                    <input type="date" name="semesterEndDate"  class="w-100"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="submit"  class="btn btn-primary">Create</button>
            </div>
        </div>
        </form>
    </div>
</div>

<!-- List table semester -->
<div>
    
    <table id="tablePagnation" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Semester Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
         @foreach (SemesterDTO sDTO in Model.semesterDTOs)
    {
                <tr>
                    <td>
                        <p class="fw-normal mb-1">@sDTO.SemesterName</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.StartDate</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.EndDate</p>
                    </td>

                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopupDelete('@sDTO.SemesterId')">
                            Delete
                        </button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded" 
                        onclick="openPopup('@sDTO.SemesterName','@sDTO.StartDate','@sDTO.EndDate','@sDTO.SemesterId')">
                            Update
                        </button>
                    </td>
                </tr>
      
    }
    </tbody>
    </table>
   
</div>


<!-- Modal Update Semester -->
<div class="modal fade" id="updateSemesterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Update" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Semester</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('updateSemesterModal')"></button>
                </div>
                <div class="modal-body">
                    <p>Semester Name</p>
                    <input id="updateSemesterName" type="text" name="semesterName" class="w-100" />
                    <p>Semester Start Date</p>
                    <input id="updateSemesterStartDate" type="date" name="semesterStartDate" class="w-100" />
                    <p>Semester End Date</p>
                    <input id="updateSemesterEndDate" type="date" name="semesterEndDate" class="w-100" />
                    <input id="updateSemesterid" type="hidden" name="semesterId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('updateSemesterModal')">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal Delete Semester -->
<div class="modal fade" id="deleteSemesterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Delete" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Semester</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('deleteSemesterModal')"></button>
                </div>
                <div class="modal-body">
                    <input id="deleteSemesterid" type="hidden" name="semesterId" />
                    <p> Do you want Delete this Semester ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('deleteSemesterModal')">Cancle</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#tablePagnation').DataTable({
        "pagingType": "full_numbers" // "simple" option for 'Previous' and 'Next' buttons only
    });

    function openPopup(semesterName, startDate, endDate, semesterId) {
        var inputName = document.getElementById("updateSemesterName");
        inputName.value = semesterName;
       
        var inputStartDate = document.getElementById("updateSemesterStartDate");
        inputStartDate.value = formatDate(new Date(startDate));

        var inputEndDate = document.getElementById("updateSemesterEndDate");
        inputEndDate.value = formatDate(new Date(endDate));

        var inputId = document.getElementById("updateSemesterid");
        inputId.value = semesterId;

        $('#updateSemesterModal').modal('show');
    }

    function openPopupDelete(semesterId) {
        var inputId = document.getElementById("deleteSemesterid");
        inputId.value = semesterId;
        $('#deleteSemesterModal').modal('show');
    }

  
</script>