@page
@model ProjectPRN_FAP.Pages.Admin.SubjectPage.SubjectModel
@using ProjectPRN_FAP.Bussiness.DTO
@{
    Layout = "_LayoutAdmin";
}

<!-- Button trigger modal create Subject -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#createSubjectModel">
    Create Semester
</button>

<!-- Modal Create Subject -->
<div class="modal fade" id="createSubjectModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page="/Admin/SubjectPage/Subject" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Semester</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Sub Class name</p>
                    <input type="text" name="subjectSubName" class="w-100" />
                    <br />
                    <p>Class Name</p>
                    <input type="text" name="subjectNameName" class="w-100" />
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- List table Subject -->
<div>

    <table id="tablePagnation" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Subject Sub Name</th>
                <th>Subject Name</th>
                <th>View Detail</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SubjectDTO sDTO in Model.subjectDTOs)
            {
                <tr>
                    <td>
                        <p class="fw-normal mb-1">@sDTO.SubjectSubName</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@sDTO.SubjectName</p>
                    </td>

                    <td>
                        <a asp-page="/Admin/SubjectPage/SubjectDetail" asp-route-subjectId="@sDTO.SubjectId">View</a>
                    </td>

                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopupDelete('@sDTO.SubjectId')">
                            Delete
                        </button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopup('@sDTO.SubjectSubName','@sDTO.SubjectName','@sDTO.SubjectId')">
                            Update
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal Update Subject -->
<div class="modal fade" id="updateClassModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Update" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Semester</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('updateClassModal')"></button>
                </div>
                <div class="modal-body">
                    <p>Subject Sub Name</p>
                    <input id="updateSubjectSubName" type="text" name="updateSubjectSubName" class="w-100" />
                    <p>Subject Name</p>
                    <input id="updateSubjectName" type="text" name="updateSubjectName" class="w-100" />
                    <input id="updateSemesterid" type="hidden" name="updateSubjectId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('updateClassModal')">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal Delete Subject -->
<div class="modal fade" id="deleteSubjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Delete" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Semester</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('deleteSubjectModal')"></button>
                </div>
                <div class="modal-body">
                    <input id="deleteSubjectid" type="hidden" name="subjectId" />
                    <p> Do you want delete this Subject ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('deleteSubjectModal')">Cancle</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Script -->
<script>
    $('#tablePagnation').DataTable({
        "pagingType": "full_numbers" // "simple" option for 'Previous' and 'Next' buttons only
    });
    function openPopup(subjectSubName, subjectName, subjectId) {
        var inputName = document.getElementById("updateSubjectName");
        inputName.value = subjectName;

        var inputSubName = document.getElementById("updateSubjectSubName");
        inputSubName.value = subjectSubName;

        var inputId = document.getElementById("updateSemesterid");
        inputId.value = subjectId;

        $('#updateClassModal').modal('show');
    }

    function openPopupDelete(subjectId) {
        var inputId = document.getElementById("deleteSubjectid");
        inputId.value = subjectId;
        $('#deleteSubjectModal').modal('show');
    }


</script>