@page
@model ProjectPRN_FAP.Pages.Admin.GradePage.GradeModel
@using ProjectPRN_FAP.Bussiness.DTO
@{
    Layout = "_LayoutAdmin";
}

<!--Error message -->
@if (TempData["ErrorMessage"] != null)
{
    <script>
        window.onload = function () {
            openPopupMessage('ErrorMessageGradeModal');
        };

    </script>

    <div class="modal fade" id="ErrorMessageGradeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('ErrorMessageGradeModal')"></button>
                </div>
            </div>
            <div class="modal-body" style="background-color: #ffffff;">
                @TempData["ErrorMessage"]
            </div>
        </div>
    </div>


}

<!-- Button trigger modal create Semester -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#createGradeModal">
    Create Grade
</button>

<!-- Modal Create Semester -->
<div class="modal fade" id="createGradeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page="/Admin/GradePage/Grade" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Grade</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Grade Name</p>
                    <input type="text" name="gradeName" class="w-100" />
                    <br />
                    <p>Grade Percent</p>
                    <input type="number" name="percent" class="w-100"
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- List table Grade -->
<div>

    <table id="tablePagnation" class="table align-middle mb-0 bg-white tablePagnation">
        <thead class="bg-light">
            <tr>
                <th>Grade Name</th>
                <th>Percent</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (GradeDTO gDTO in Model.gradeDTOs)
            {
                <tr>
                    <td>
                        <p class="fw-normal mb-1">@gDTO.GradeName</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1">@gDTO.Percent%</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopupDelete('@gDTO.GradeID')">
                            Delete
                        </button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            onclick="openPopup('@gDTO.GradeName','@gDTO.Percent','@gDTO.GradeID')">
                            Update
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal Delete Grade -->
<div class="modal fade" id="deleteGradeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Delete" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Semester</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('deleteGradeModal')"></button>
                </div>
                <div class="modal-body">
                    <input id="deleteGradeId" type="hidden" name="gradeId" class="w-100"
                    <p> Do you want delete this Grade ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('deleteGradeModal')">Cancle</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Update Grade -->
<div class="modal fade" id="updateGradeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="Update" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Grade</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closePopup('updateGradeModal')"></button>
                </div>
                <div class="modal-body">
                    <p>Grade Name</p>
                    <input id="updateGradeName" type="text" name="gradeName" class="w-100" />
                    <br />
                    <p>Grade Percent</p>
                    <input id="updateGradePercent" type="number" name="percent" class="w-100"
                    <br />
                    <input id="updateGradeId" type="hidden" name="gradeId" class="w-100"
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closePopup('updateGradeModal')">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>



<!-- Script -->
<script>
    $('#tablePagnation').DataTable({
        "pagingType": "full_numbers" // "simple" option for 'Previous' and 'Next' buttons only
    });
    function openPopup(gradeName, percent, gradeId) {
        var inputName = document.getElementById("updateGradeName");
        inputName.value = gradeName;

        var inputPercent = document.getElementById("updateGradePercent");
        inputPercent.value = percent;

        var inputId = document.getElementById("updateGradeId");
        inputId.value = gradeId;

        $('#updateGradeModal').modal('show');
    }

    function openPopupDelete(gradeId) {
        var inputId = document.getElementById("deleteGradeId");
        inputId.value = gradeId;
        $('#deleteGradeModal').modal('show');
    }


</script>

